<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <body>
    <div class="container-fluid">
        <section class="header text-center">
            <h1>Splitting a Single Array into Multiple Arrays</h1>
        </section>
        <div class="row">
            <div class="col-xs-3">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="names">
                                    Objects to Group <br> 
                                    <i class="help"> Separate each with a newline</i>
                                </label>
                                <textarea id="names" name="names" rows="26" required="required" placeholder="Type in object names separated by a newline." class="form-control">
                                </textarea>
                            </div>
                            <div class="form-group">
                                <label for="groups">Groups to create</label>
                                <div class="input-group">
                                    <input class="form-control" type="number" id="groups" name="groups" placeholder="Number of Groups" required="required" autocomplete="off" value="4">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" type="button" id="create-groups">Split Group</button>
                                    </div>
                                </div>
                            </div>
    
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-9">
                <div class="row" id="groupings-output">
                    <div class="col-sm-3 group-panel-container">       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="data.json"></script>
    <script src="build/app.bundle.js"></script>

</body>
</html>
